[2016-07-12 07:53] sschmidt opened #1 "Add License Headers"

[2016-07-12 07:53] sschmidt opened #2 "Add Readme / Getting Started"

[2016-07-12 07:53] sschmidt opened #3 "Build NuGet Package"

[2016-07-12 08:28] #1 closed

[2016-07-14 11:51] #3 closed

[2016-07-14 11:51] #2 closed

[2016-07-29 11:18] JordanGout opened #6 "Space above bottom navigation bar"
I always have a space between the BottomNavigationBar and the ContentPage.

With a Pixel C (Android 7) the space is small (see screen 1) but with an old little samsung tablet the space is important... (see screen 2)

Screen 1:
![android 7](https://cloud.githubusercontent.com/assets/5838406/17246774/89f41122-558e-11e6-905e-1e224445c6f9.png)

Screen 2:
![android 4 2 2](https://cloud.githubuserconten

[2016-08-02 06:21] adrianknight89 opened #7 "Keep getting System.InvalidOperationException: Sequence contains no matching element"
Can you please document how to use this control? I have looked at the source code which compiles and runs fine, but when I use the nuget package instead, I'm getting a runtime exception.

[code]

[2016-08-02 06:23] adrianknight89 commented on #7
This is my App.xaml.cs

[code]

In the example source, you had TabPage, but for simplicity, I used ContentPage and icon.png for all images.

[2016-08-02 14:22] adrianknight89 opened #8 "Is it possible to add badges as well as hide bnb on scroll?"
Looking at https://github.com/pocheshire/BottomNavigationBar, it seems more feature rich. Just wondering if the XF version can do those things?

[2016-08-02 23:06] adrianknight89 opened #9 "CurrentPageChanged does not fire when current tab changes"
Please run the example app you've posted. CurrentPageChanged fires only at app startup. When the user changes the current tab, the event is not raised.

[2016-08-02 23:09] adrianknight89 opened #10 "Setting BottomBarPage Children to NavigationPage instances does not work"
In the sample app, instead of adding TabPage as child elements of BottomBarPage, add NavigationPage. Only the first tab gets set to a navigation page. The other tabs are broken.

[2016-08-03 17:09] sschmidt commented on #8
Sure, would be great to add additional features over time. PR's very welcome!

[2016-08-06 19:13] Korayem commented on #7
+1 same here

[2016-08-06 20:58] Korayem commented on #7
The error occurs in the `.Single()` part:
[code]

[2016-08-07 06:08] Korayem commented on #7
To understand the difference, I added the following to both projects, mine and yours, to compare the difference and find why it's failing t find methodName == `SendAppearing`:
[code]

My project:
[code]

Your Project
[code]

The difference was here:
![image](https://cloud.githubusercontent.com/assets/198332/17460813/aee09224-5c75-11e6-9546-f5646a6ce2a2.png)

So I simply change ANY line to use `.Co

[2016-08-07 06:31] Korayem opened #11 "Expose more methods to configure Bar behavior"
I can't find a way to alter the following:

[code]

[2016-08-07 07:49] Korayem opened #12 "CurrentPageChanged event is not fired"
I can't simply do this inside BottomBar Page

[code]

[2016-08-08 09:35] JordanGout commented on #7
+1

[2016-08-10 12:47] Korayem opened #13 "is there a way to hide pink bar just above bottom toolbar in the sample?"
I tried all the following but nothing worked:
[code]

[2016-08-18 11:33] talhaa91 commented on #10
Any update on this? We need to have a persistent tab bar even if we navigate to other pages by non-modal navigation

[2016-08-18 20:14] andreinitescu commented on #13
Pink color comes from this line
https://github.com/thrive-now/BottomNavigationBarXF/blob/master/example/BottomBarXFExample/App.xaml.cs#L16

`bottomBarPage.BarBackgroundColor = Color.Pink;`

[2016-08-18 20:19] JordanGout commented on #13
It's no a solution. You can change the color of the bar but will be still here. See #6

[2016-08-18 20:20] andreinitescu commented on #12
This method:

https://github.com/thrive-now/BottomNavigationBarXF/blob/master/BottomBar.Droid/Renderers/BottomBarPageRenderer.cs#L161

needs to call tell `Element` property (which is the XamarinForms BottomBar) to raise `CurrentPageChanged` event (BottomBar is derived from MultiPage), something like this:

`Element.RaiseCurrentPageChanged()`

or something similar...

a PR would be welcome :)

[2016-08-18 20:24] andreinitescu commented on #10
Umm, why would you want to have NavigationPage inside a BottomBarPage (which is like XF's TabbedPage).
It doesn't seem like a good UX to me..
If instead of the BottomBarPage you had a TabbedPage could you add a Navigationpage inside it?

[2016-08-18 20:25] andreinitescu commented on #9
see https://github.com/thrive-now/BottomNavigationBarXF/issues/12

[2016-08-18 20:29] andreinitescu commented on #6
I think the issue comes from this line

https://github.com/thrive-now/BottomNavigationBarXF/blob/master/BottomBar.Droid/Renderers/BottomBarPageRenderer.cs#L187

That line computes the area where the child pages are put.

[2016-08-19 04:31] talhaa91 commented on #10
@adrianknight89 because that's the expected behavior. We want the bottom bar visible at all times. That's why we need to a Navigation page in each tab.

[2016-08-23 22:08] tirolo commented on #7
@Korayem that worked out for me thanks!

I bet a PR would be more than welcome ;)

[2016-08-26 22:25] Korayem commented on #6
Changing that line mentioned by @andreinitescu to the following fixes my problem:
`_pageController.ContainerArea = new Rectangle(0, 0, context.FromPixels(width), context.FromPixels(height - 115));`

[2016-08-26 22:26] Korayem commented on #13
@JordanGout thanks for pointing that out

I added a comment on how to fix it and remove pink line https://github.com/thrive-now/BottomNavigationBarXF/issues/6#issuecomment-242866636

[2016-08-26 23:13] Korayem commented on #7
@tirolo done https://github.com/thrive-now/BottomNavigationBarXF/pull/14

[2016-09-28 09:55] nbsoftware commented on #12
+1
Any news ?

[2016-09-28 10:09] nbsoftware commented on #12
From what I understand, it seems that Xamarin Forms TabbedPage control lacks a virtual OnCurrentPageChanged method that can be overriden and called from the renderer.

[2016-09-28 21:29] nbsoftware commented on #12
Ok I have a fix for this.
I'll do the PR tomorrow.

[2016-09-29 06:48] nbsoftware commented on #12
There you go. PR #15.

[2016-09-30 08:56] nbsoftware commented on #9
Fixed with PR #15
Waiting to be merged, eventually.

[2016-10-01 08:56] sschmidt commented on #12
PR merged

[2016-10-01 08:56] #12 closed

[2016-10-01 12:17] nbsoftware commented on #9
@sschmidt you can close this one too ;)

[2016-10-01 14:18] #9 closed

[2016-10-03 21:27] bennoffsinger commented on #11
Any word on this?

[2016-10-04 13:32] ice-j commented on #6
So basically, changing it to another magic number won't fix the bug. You got it fixed because your device's display is HD, so the number is 115, on FHD is 168, and the generic solution to this problem is the following:

[code]

With "nine" percents of the height, well not exactly 9 but the value above, you get the correct container area on any device (tested with QHD, HD, FHD). Should I do a PR wi

[2016-10-06 04:35] JordanGout commented on #6
@ice-j I will try your fix but à PR would be great

[2016-10-06 13:56] SuperJMN commented on #7
I'm still getting this using the NuGet Package ThriveGmbH.BottomNavigationBar.XF 1.0.0.

[2016-10-06 15:52] escamoteur commented on #7
Same with me!

[2016-10-10 18:07] JannieT commented on #7
@SuperJMN @escamoteur the NuGet was last updated on Saturday, July 16, 2016 (ver 1.0.0) and the bug fix PR was merged in more than a month later on August 27.

[2016-10-10 19:26] JannieT commented on #10
When I add the children as follows I don't experience this:

[code]

[2016-10-11 12:29] malokuS commented on #7
@sschmidt can you please release an update with this fix on the [NuGet](https://www.nuget.org/packages/ThriveGmbH.BottomNavigationBar.XF/) Gallery.
Thank you in advance!

[2016-10-11 18:12] escamoteur opened #17 "Attached Property TabColor not accessible through Xaml"
Hi,

I tried to set the TabColor from Xaml, but got the Runtime Error thet there is no Method SetTabBolor.

I have no idea why, perhaps you can add a sample Page in Xaml ?

Best
Thomas

[2016-10-12 11:40] escamoteur commented on #13
I added a PR for it https://github.com/thrive-now/BottomNavigationBarXF/pull/16

[2016-10-12 14:00] escamoteur commented on #11
See my latest PR :-)

[2016-10-14 19:07] sschmidt commented on #7
@malokuS sorry for the delay, we're on it :)

[2016-10-14 20:29] malokuS commented on #7
@sschmidt no worries, thank you :)

[2016-10-14 22:30] bennoffsinger opened #18 "Setting Active Tab using CurrentPage = loads page but does not update tab bar"
I was able to reproduce this in the BottomBarXFExample project.  I added a NextPage button on each tab that simply navigates to the next page using the CurrentPage property.  (As far as I can tell this is the appropriate way to programatically select a page -- Please tell me if that's not the case).   When you click Next Page you can see that you have navigated to the appropriate page (the label c

[2016-10-16 19:14] sschmidt commented on #7
@malokuS I released 1.0.1. Can you please confirm if it's working?

[2016-10-17 07:28] malokuS commented on #7
Greetings @sschmidt , I can confirm that this fix has worked and now everything looks great!

Thank you :).

[2016-10-17 07:29] sschmidt commented on #7
Sweet! Thanks again for everyone involved!

[2016-10-17 07:29] #7 closed

[2016-10-18 18:30] japhiaolson commented on #10
For anyone still being held up by this bug, you can fix it by navigating to BottomBarPageRenderer.cs and in your `OnLayout `override the final line: `base.OnLayout(changed, l, t, r, b);` should be at top of that override function, not the bottom.

[2016-10-23 15:38] sschmidt commented on #6
Merged the PR - thanks guys! Can you verify that it's working in master? Looks good to me. I'll publish a new nuget version once we have that verified.

[2016-10-23 20:14] sschmidt commented on #10
@japhiaolson great - thanks! Can you create a PR for that?

[2016-10-24 14:20] DominicFrei commented on #6
@JordanGout @sschmidt @andreinitescu @Korayem @ice-j Are we done here? Does it work to your satisfaction so that I can close this issue?

[2016-10-24 14:23] DominicFrei commented on #11
@Korayem @bennoffsinger Are your needs satisfied by @escamoteur 's PR?

[2016-10-24 14:24] DominicFrei commented on #13
Hey guys!
Does the already merged PR by @escamoteur fully solve this issue for you? @Korayem @andreinitescu @JordanGout

[2016-10-26 14:36] escamoteur opened #19 "Problem with nuget 1.0.1"
Hi,

I have no idea why, but when installing the package into my project it only instally the Droid Parte but not the platform independent part.
Maybe this because I'm using a shared project.

Will go back to the dlls.

Anybody experienced the same?

Cheers
Thomas

[2016-10-26 15:40] Korayem commented on #6
Ok
On Mon, Oct 24, 2016 at 4:20 PM Dominic Frei <notifications@github.com>
wrote:

[2016-10-27 16:32] DominicFrei commented on #6
Going to close this for now. If something re-arises, feel free to reopen this issue with new information.

[2016-10-27 16:33] DominicFrei commented on #19
@escamoteur Did you do a cross check? Other nuget version. Without a shared project, etc.
Would be nice to have some insights, in which case it works and in which it does not.

[2016-10-27 18:49] zonkzen commented on #10
@sschmidt can you merge it and make a new nuget package?

[2016-10-28 12:48] escamoteur commented on #19
sorry, no time yet

[2016-10-31 23:11] jbucka opened #20 "Installing in Blank Xamarin Forms project"
Hi there,

I am attempting to install this package using the nuget package manager inside Visual Studio 2015.

However when I install I get the following error message:
`Could not install package 'ThriveGmbH.BottomNavigationBar.XF 1.0.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly

[2016-11-01 14:52] ice-j commented on #6
Looks like it was not fully working, and I as a developer didn't like that magic number calculation, so I think that now will be working better, and can say that this bug is fixed with #21

[2016-11-01 20:00] ice-j commented on #19
I can help with this. You need to manually reference the XamarinForms dll which can be found in the packages folder of your solution, then inside the BottomNavigationBarXF folder. If you can't find your way around this I'll make some tutorial for you with pictures. I'm using shared projects as well.

[2016-11-01 20:49] escamoteur commented on #19
Ok that would be a solution. So you got the same problems?

[2016-11-02 10:58] DominicFrei commented on #19
@ice-j Would you mind creating a PR so that we can share it with everyone else?

[2016-11-03 11:27] jbucka commented on #20
Done some more digging and it seems similar to issue 19. Basically I can install the package for the .Droid part of the solution but not for the main general part of the solution. Could someone please check that the nuget package is targeting the right PCL profile? Thanks.

[2016-11-03 12:11] IvanDev commented on #18
You can update bottombar selected tab with
`_bottomBar.SelectTabAtPosition(Element.Children.IndexOf(Element.CurrentPage), true);`

I had to change default page so I updated tab in `OnElementChanged`:
[code]

You may also need to update tabs in `OnElementPropertyChanged`

[2016-11-04 18:46] ice-j commented on #19
@escamoteur Yes, I couldn't access the BottomBarPage class from the shared project without adding the forms reference manually.

@DominicFrei sure thing, will push tomorrow.

[2016-11-05 13:53] jbucka commented on #20
While this does not fix the issue, as a workaround I have been able to build the BottomNavigationBarXF solution myself and then manually included the references in my App solution.

[2016-11-05 23:41] jbucka commented on #6
@ice-j @DominicFrei The problem has not dissappeared entirely. I still get the extra bar when first launching the app in the simulator, as well as when changing between landscape and portrait mode.

Once I then click on another tab, the bar dissappears, until I either reopen the app or change between landscape and portrait.

[2016-11-06 17:14] ice-j commented on #6
@jbucka I think that there's no new nuget yet with my changes. Are you using the nuget package or you built one yourself one locally?

[2016-11-06 17:36] jbucka commented on #6
@ice-j I built  the project myself locally after your push request was accepted.

[2016-11-07 12:15] malokuS commented on #10
@sschmidt && @DominicFrei - Can you please update the nuget package with this, and recent fixes because this awesome library doesn't work on API 21 or above. Thanks in advance :)

[2016-11-10 15:56] DominicFrei commented on #18
Thank you @IvanDev !

@bennoffsinger Did that solve your problem? Is there anything left to do in this issue?

[2016-11-10 16:11] hadhoryth commented on #17
Hello, is there some news how to set tab color from xaml?

[2016-11-11 01:13] jbucka commented on #6
@dominicfrei can we please reopen this? Issue isnt fully fixed. I have tried to play around with the source but not managed to get to the bottom of it. Can someone else confirm that they can reproduce the issue?

[2016-11-11 01:15] DominicFrei commented on #6
@jbucka Can you provide an example project or something like this so that the others can understand the problem?

[2016-11-11 08:46] nvbiryukov opened #23 "BottomNavigationBarXF question shared project"
Hi, guys!
I like the bar package u've made. But i've got a question: in your example u use pcl. Can it be used with shared project? I'm currently trying to connect it to my shared prj, which i'm limited to due to some student project limitations. It could be nice if u add to samples a project where u connect the bar to the shared project.

[2016-11-11 12:47] ice-j commented on #23
@nvbiryukov there's an open PR #22. After it's merged, you'll be able to use it in shared projects

[2016-11-15 02:22] bennoffsinger commented on #18
Thank you @IvanDev .  That did fix it for me.

@DominicFrei Would you agree that this should be out of the box behavior?  If so, perhaps @IvanDev could submit a PR for this.

[2016-11-16 18:11] jbucka commented on #6
@DominicFrei @ice-j Apologies for the delay, sample code is at:

https://github.com/jbucka/App1

[2016-11-21 09:48] dave2ma commented on #10
Hello,  @sschmidt && @DominicFrei,

is there a chance to merge this the next days?

Best regards

[2016-11-22 13:33] dave2ma opened #24 "System.DividedByZeroException on Android if you have 0 Tabs"
Only on Android you get a System.DividedByZeroException if you initialize a BottomNavigationBar without an Tab. This can happen, if you, for example, don't want to load any tab before login via a modal. Is This issue known?

[2016-11-22 18:57] hardcodet commented on #6
Possibly related:

* Start the sample in portrait mode.
* Turn phone to landscape mode.
* Switch back to portrait mode - layout is not probably refreshed.

[2016-11-22 20:23] ice-j commented on #6
We should add Rotation listener to properly handle layout after rotation. I'm sorry but I'm very busy this week, I'll do it during the weekend if somebody else can't find the time before that.

[2016-11-24 00:01] jbucka commented on #6
@ice-j Thanks for your help, I will happily wait for the weekend, if you can make it work.

I managed to add an eventHandler to the BottomBarPage and react to that eventHandler in the Renderer, but then I am at a total loss what I would need to do to reset the layout. Basically I am messing with code I don't fully understand, so not getting anywhere.

I look forward to seeing your solution.

[2016-11-28 13:23] dave2ma commented on #24
Fixed That in void SetTabItems in AndroidRenderer:
`void SetTabItems()
        {
            BottomBarTab[] tabs = Element.Children.Select(page =>
            {
                var tabIconId = ResourceManagerEx.IdFromTitle(page.Icon, ResourceManager.DrawableClass);
                return new BottomBarTab(tabIconId, page.Title);
            }).ToArray();
            **if (tabs.Length == 0)**

[2016-11-30 16:17] javiholcman commented on #20
The same issue here!

[2016-12-02 07:37] lengluo commented on #6
I have the same issue, when reload the bar, a space will appear above. But when I select the tab, it will disappear. Wait for a solution.

[2016-12-06 03:43] liamwang opened #25 "Programmatically switch between tabs not work correctly."
Here is my implementation:

[code]

The content page was switched, but the bottom bar tabs was not changed.

[2016-12-06 09:35] zonkzen commented on #10
@sschmidt && @DominicFrei,
Are you alive?
Please update the project with this issue and create new nuget version.

[2016-12-06 19:14] jbucka commented on #6
@ice-j Do you think you might be able to take a look at this soon? Otherwise any hints how I would rerender everything once the rotation event triggers.

[2016-12-07 01:45] lengluo commented on #6
aha, I solved this problem by commenting this line
`_pageController.ContainerArea = new Rectangle(0, 0, context.FromPixels(width), context.FromPixels(_frameLayout.Height));`
in the function "OnLayout" in the Renderer. But I don't know what this code means, and why it works in this way.

[2016-12-07 07:37] ice-j commented on #6
I can't right now. But my try would be to implement `ISensorListener` which then let's you override 2 methods, `OnAccuracyChanged` and `OnSensorChanged` which looks like this:
[code]

And in the if block, measure the views again or redraw them, I'd first try to call _bottomBar.SelectTabAtPosition() in there, or SwitchContent()

It'd be awesome if you could try this and come back here with results.

[2016-12-08 09:39] YvesDelcoigne commented on #13
You can fix it by changing "Height" to "MeasuredHeight" in the OnLayout of the renderer.

`_pageController.ContainerArea = new Rectangle(0, 0, context.FromPixels(width), context.FromPixels(_frameLayout.MeasuredHeight));`

[2016-12-08 09:52] #20 closed

[2016-12-08 09:53] DominicFrei commented on #19
Fixed by ice-j with PR #22 .

[2016-12-08 09:53] #19 closed

[2016-12-08 09:53] DominicFrei commented on #20
Fixed by ice-j with PR #22 .

[2016-12-08 09:59] Dids commented on #19
@DominicFrei I'm assuming the new nuget package will still need to be built and pushed to nuget.org?

[2016-12-12 20:39] gcadmes commented on #6
ice-j,

Some good news...I was able to get it working, but not with the ISensorListener.
The ISensorListener didn't work, prob because of being deprecated. Also couldn't get the ISensorEventListener working.

Instead, I override the OnSizeChanged and detected the orientation changes that way (w > h). When the orientation changes to vertical, I invoke the  _bottomBar.SelectTabAtPosition(), which th

[2016-12-14 03:28] lengluo commented on #6
@gcadmes I don't think it's just occurred in orientation change, you'll get this issue if click the backbutton of NavigationPage,  another way of saying,  just return from NavigationPage, the empty space will happens again.

[2016-12-14 08:27] ice-j commented on #6
@gcadmes thank you, it'd be awesome if you could do a PR, if not I'll do it this weekend.
@lengluo I'm using a navigation page currently, and have no problem as yours, can you please do a sample  that reproduces your problem?

[2016-12-14 09:11] lengluo commented on #6
@ice-j Thank you for your time, It maybe a special case in my app context. I have found a  way seams dirty but works to resovle it.
Put a static variable named "_frameLayoutHeiht" in renderers, then do it in the OnLayout event like blow
`if (_frameLayout.Height >= 0 && _frameLayoutHeiht == 0)
                {
                    _frameLayoutHeiht = _frameLayout.Height;
                }

[2016-12-14 10:28] liamwang commented on #25
I hava solved this by calling `_bottomBar.SelectTabAtPosition` method.

[2016-12-14 10:28] #25 closed

[2016-12-15 03:06] lengluo commented on #6
@ice-j Thank you for your reply. I don't know why it happens in my case.  And I have resolved this issue by a dirty way:
  `if (_frameLayout.Height >= 0 && _frameLayoutHeiht == 0)
{
    _frameLayoutHeiht = _frameLayout.Height;
}
var currHeight = _frameLayoutHeiht;
if (_frameLayoutHeiht != _frameLayout.Height && _frameLayoutHeiht  < _frameLayout.Height + 100)
  currHeight = _frameLayoutHeiht + 50;

[2016-12-21 18:59] triplumix commented on #2
How do you add this to XF?

[2016-12-23 20:06] angelru opened #26 "Error install"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'ThriveGmbH.BottomNavigationBar.XF 1.0.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact th

[2016-12-23 20:27] #26 closed

[2016-12-30 02:24] elyfran opened #27 "Tab Color only works with 4+ tabs."
Less than 4 tabs the function to set color does not work.

[2017-01-12 18:05] japhiaolson commented on #18
@IvanDev  that was a helpful tip! But I realized that function needs to run after each tab tab change, otherwise the tabs were only visually updating the first time I programmatically changed CurrentPage. I removed from that placement and added it in the OnElementPropertyChanged (for the CurrentPage element change) after the SwitchContent function since it needs to run after every CurrentPage chan

[2017-01-18 10:19] angelru opened #28 "center icon vertically"
Hello,

How to center icon vertically ?

[https://s27.postimg.org/sat2e8wur/Sin_t_tulo.png](url)

regards.

[2017-01-19 07:26] angelru commented on #10
@zonkzen not working for me, of where download?

[2017-01-19 21:49] angelru commented on #27
any solution ?

[2017-01-24 06:04] 503geek opened #29 "New PCL project, can't build"
Error is:

1>C:\Program Files (x86)\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(1410,2): error : Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'BottomBar.XamarinForms, Version=1.0.6133.37691, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist in the Mono for Android profile?
1>C:\Program Files (x86)\MSBuild\Xamarin\Android\Xamarin.

[2017-02-02 20:57] nosmirck commented on #29
I have the same exact problem, could you find a workaround?

[2017-02-02 21:22] 503geek commented on #29
No I haven't. I'm guessing that the underlying issue may be the fact that you can't install the package at the PCL root (it will install to Project.xyz.Droid but not Project.xyz) due to this error:

`
Could not install package 'ThriveGmbH.BottomNavigationBar.XF 1.0.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package

[2017-02-02 21:29] 503geek commented on #29
I thought to try installing only BottomNavigationBar 1.1.2 in the root PCL and that throws a similar error:
`
Could not install package 'Xamarin.Android.Support.v4 23.3.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framewor

[2017-02-03 15:49] nosmirck commented on #29
Awesome! Do you have any idea how I can install his branch? I have no idea D:

[2017-02-03 17:16] 503geek commented on #29
No I haven't gotten that far yet. If you look at the other repository it contains a solution and nuget.exe - from what I've gathered it might be possible to create a nupkg from that code. I'm guessing it's simpler than that but I haven't figured it out either.

[2017-02-03 22:38] nosmirck commented on #29
Ok, well, Ifirst just downloaded the whole project from that guy, it includes an example, it works perfectly.

Then, I figured what he changed and all he did was to change the PCL target profile to use 259 (which is the default from some recent xamarin versions) from 78 (the one used by the original plugin) and I found this:
```http://danrigby.com/2014/04/16/xamarin-pcl-profile-notes/```

And I ma

[2017-02-07 19:06] tomh4 opened #30 "Add Badges"
Are there plans to add badges directly from Forms ?

It is supported both on the iOS Tabbar and the Bottombar,
I'd help but I am struggling to get the Bottombar itself on Xamarin.Android
( it should work somehow like this
`_bottomBar = BottomBar.Attach(this, savedInstanceState);` in the Activity but it doesnt for me...)

[2017-02-09 20:08] Im-PJ commented on #27
Any solution for this? I don't this library is being maintained now :(

[2017-02-10 09:22] zonkzen commented on #10
@sschmidt && @DominicFrei
Can you merge this and create nuget?

[2017-02-14 23:12] 503geek commented on #29
I worked out how to do it with adding the latest fork's nuget - but, I think there is an easier and cleaner way. Basically, you're not getting dependency management if you make your own nuget package from a fork (since any attempt to update/downgrade that package won't work). So adding the dlls from the fork makes more sense. Building the solution in release mode gives you the right dlls under the

[2017-02-20 14:59] r2d2rigo opened #31 "Changing the Icon of a Page works on iOS but not Android"
If the `Icon` of a `Page`  that is a children of a `BottomBarPage` is changed after instantiation, the change is reflected on the iOS version of the Xamarin Forms app but not on the Android one.

[2017-02-23 03:11] tuneis commented on #29
This is what worked for me.

I updated to the most recent version of Xamarin Forms. (2.3.3.193)

If you have BottomNavigationBar and ThriveGmbH.BottomNavigationBar.XF installed remove them first and clean your directory.

In this order, installed BottomNavigationbar v1.4.0.3 then install ThriveGmbH.BottomNavigationBar.XF v1.0.1 then in your PCL project add a reference to BottomBar.XamarinForms.dll

[2017-02-24 13:42] r2d2rigo opened #34 "Adding/removing `Children` doesn't update the bottom bar"
Adding/removing `Children` after creating the `BottomBarPage` keeps the bottom bar as is - it doesn't add or remove any tab elements.

[2017-02-27 19:41] Mxrck commented on #29
@tuneis Tested on iOS, only need to add the reference dll to the iOS project.

Thanks for your solution, it works like a charm

[2017-03-01 05:58] rubenbenjamin opened #37 "Is it possible to set BarBackgroundColor to custom color"
Hi Is there a way to make the BarBackgroundColor to work
e.g.
bottomBarPage.BarBackgroundColor = Color.Orange;

Currently I am using
bottomBarPage.BarTheme = BottomBarPage.BarThemeTypes.DarkWithAlpha;
![color](https://cloud.githubusercontent.com/assets/429940/23447615/163510d0-fe1a-11e6-8fc3-2e18d8ee2604.PNG)

I am new to .NET sorry if this is a stupid question

[2017-03-01 21:17] mawarnes commented on #10
pretty please?

[2017-03-02 02:43] #37 closed

[2017-03-02 02:43] rubenbenjamin commented on #37
found it.
in style.xml
<color name = "bb_darkBackgroundColor" >#000000</color>

[2017-03-05 08:28] andrekiba commented on #27
Any news?

[2017-03-05 09:55] angelru commented on #27
no news :(

[2017-03-07 15:35] po0kie opened #38 "Navigation.Push BottomBar make it stay"
Is there a way to get the BottomBar visible when Navigation.push(new page()) is used?
Or which is the approach to get this working?

Best regards

[2017-03-07 17:01] nosmirck opened #39 "Create the Bottom Bar from XAML"
I've managed to install the package and made it work with my project using the example code, but, we are trying to have zero code-behind and we define everything using the xaml page.

When I create a new xaml page and inherit from BottomBarPage (also changing the respective code on the XAML part to BottomBarPage) it fails on compilation because the generated compiled xaml to cs tries to look for B

[2017-03-11 22:26] bruce-willis commented on #29
@tuneis variant works, but much better install BottomNavigationbar v1.4.0.**2** instead of v1.4.0.**3** to prevent a lot of warnings caused by different android.support version. Read [release note](https://www.nuget.org/packages/BottomNavigationBar) for 1.4.0.**3** version.

[2017-03-12 18:02] tuneis commented on #18
I'm not sure what happened to this function:

`SelectTabAtPosition`

Apparently it doesn't exist. I'm using v1.4.0.3.

I also reverted back to v1.4.0.2 and I don't see this function with that version either.

Where are you putting these code examples, in the PCL?

[2017-03-14 12:21] mawarnes commented on #24
Great fix, thanks for adding this code, until it is merged in it might be worth making sure people setup tabs. Sad to say this error caused me a days worth of spinning wheels, but really grateful for the plugin....it looks brilliant on Android

[2017-03-15 13:28] ahmad-raza commented on #28
BottomNavigationBarXF doesn't support it yet.
You can do it in fixed_mode by updating your icon image actually. Add some transparent space at the top of the icon. It would looks like it is centered. I've achieved it by this approach in couple of application.

For example: see the attached tab icon.
![ic_home](https://cloud.githubusercontent.com/assets/5131811/23950494/fb36c8fc-09ac-11e7-93b6-f0f5e

[2017-03-21 14:57] JordanGout commented on #38
@po0kie

To keep BottomBar visible you need to add NavigationPage to BottomNavigationPage's children.

[code]

With this approach when you will use Navigation.push(new page()) your bottomBar will stay visible.

[2017-03-22 09:44] sprezat commented on #38
Hello this work only on Ios but not on Android platform..

[2017-03-24 11:50] JordanGout commented on #38
@sprezat

On my application this approach on both iOS and Android plateforms..

[2017-03-24 13:17] sprezat commented on #38
Hi @JordanGout Thanks for your answer. I did exactly the same thing in my app.
But with this you don't get navigation within the tabs in Android. From what I read, since the Android does not support multiple navigation stacks, that may not be possible at all.

Let me know if that's the case for you too

Thanks

[2017-03-26 13:24] jjTudu commented on #39
same problem here

[2017-04-02 06:00] geekzolanos opened #40 "BottomNavigationBarXF doesn't works under Android 4.0.3 (API 15)"
Greetings!
When i try to integrate the library on a xamarin forms project working under Android 4.0.3, It Hangs on a unrecoverable exception and it closes.

The error message refers to a unknown function called "getMinimumHeight". After some research i found that the error was generated by a call to a unsupported method on the API (getMinimumPage was supported since API 16). The call is currently

[2017-04-05 06:10] Sme90 commented on #27
To change it, you'll have to change the variable in the BottomNavigationBar's BottomBar.cs file. The variable in question is `private int _maxFixedTabCount = 3;`, you'll need to change it to 2, 1, or 0. Then recompile, add the DLL to BottomNavigationBarXF, and then recompile this one, and add the DLLs to your Forms project.

[2017-04-05 06:48] bruce-willis commented on #27
@sme90 variant with DLL is good, but u can also create local nuget package: just type 'nuget pack' in the root folder and use it. [http://stackoverflow.com/questions/10240029/how-to-install-a-nuget-package-nupkg-file-locally](How to install let local nuget package)

[2017-04-06 16:54] maxdiable opened #41 "error after install"
hi,
after installed and compile, visual studio show thid error:
Errore		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'BottomBar.XamarinForms, Version=1.0.6133.37691, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist in the Mono for Android profile?
Nome file: 'BottomBar.XamarinForms.dll'
   in Java.Interop.Tools.Cecil.DirectoryAssemblyResol

[2017-04-06 17:40] maxdiable opened #42 "how firing the tab clicked"
hi,
any examples where it's possible to see:

how firing the tab clicked?

br
Max

[2017-04-07 16:12] maxdiable opened #43 "background color not worlking"
hi,
i testing your bar but, i changed the background but not working

any help?
Br
Max

[2017-04-12 16:03] Tany3450 commented on #6
Still not available on nuget?

[2017-04-14 07:52] Sme90 opened #44 "Error when popping page with keyboard open"
When in the tabbed page, if you push a new navigation page, open up the keyboard (by focusing a text box), and then click the back arrow in the navigation bar, the tabs will appear as if the keyboard is still up (meaning there is a big empty space below the tabs, which is the height of the keyboard, although no keyboard is actually present). Clicking another tab fixes the issue.

I almost was able

[2017-04-25 12:57] ice-j commented on #6
@Ironthighs I've not tested that scenario with a carousel page, it would be great if you could publish the test project so  I can look into it.

[2017-04-26 03:30] lazmeister commented on #18
Looks like an update is coming soon https://github.com/thrive-now/BottomNavigationBarXF/pull/45

[2017-04-27 13:59] lazmeister commented on #17
This should be resolved now https://github.com/thrive-now/BottomNavigationBarXF/pull/45

[2017-04-27 13:59] #17 closed

[2017-04-27 14:01] lazmeister commented on #42
@maxdiable Is this to set the currentpage?

[2017-04-27 14:04] lazmeister commented on #18
We should be good with new version, please verify

[2017-04-28 07:16] maxdiable commented on #42
no..
ok i setting current page
br
Max

[2017-04-28 07:16] #42 closed

[2017-05-03 23:22] Ironthighs commented on #6
@ice-j The project as it is now has this space on the first page. Tap a new tab and it's gone. I just created a pull request fixing this issue. Please have a look.

[2017-05-04 00:07] #6 closed

[2017-05-04 00:11] #31 closed

[2017-05-04 00:29] #34 closed

[2017-05-04 00:30] #24 closed

[2017-05-04 15:16] cpboyd opened #47 "Errors with recent merges to BottomBarPageRenderer"
It seems like the merge https://github.com/thrive-now/BottomNavigationBarXF/commit/d033551cc1506ed6846127ef4933ab1e0a69be65 kind of jumbled some stuff up.

[Line 46](https://github.com/thrive-now/BottomNavigationBarXF/blob/master/BottomBar.Droid/Renderers/BottomBarPageRenderer.cs#L46):  Missing the declaration `UpdatableBottomBarTab[] _currentTabs;`

[Line 307](https://github.com/thrive-now/Bottom

[2017-05-04 15:24] lazmeister commented on #47
Yes I just started reviewing it again with the Thrive team and it did indeed break many points.

[2017-05-04 15:54] Ironthighs commented on #44
@Sme90 I'm not sure if it fixed your issue, but my PR was just merged with the project that affected the content frame's size. Among other things, I was having weird issues with rotations with a similar symptom to what you're having and now my rotations get updated properly. Try your test case with the new source, maybe it will work.

[2017-05-04 15:56] lazmeister commented on #47
we had to revert the three commits for the time being #50 #49 #48

[2017-05-04 16:01] Ironthighs commented on #41
@maxdiable In my experience so far, it takes some work to build this. Try:
-Build>Clean Solution
-Build>Rebuild Solution

If that doesn't work, close Visual Studio and delete the .vs folder in your project folder. Reopen Visual Studio, Clean and Rebuild your solution again.

If that doesn't work, just try running the demo project on the simulator or device anyways. I've gotten this error before an

[2017-05-04 16:04] lazmeister commented on #18
This fork https://www.nuget.org/packages/LH.BottomNavigationBar.XF/ that consists of the #45 fix until Thrive members can submit to nuget with the update

[2017-05-07 07:43] Im-PJ commented on #47
when it will be fixed. my project is not working after updating this library :(

[2017-05-10 19:08] golo98 opened #51 "How to use tab background color in FixedMode"
In FixedMode the method xf:BottomBarPageExtensions.TabColor="#45b648" not change the tab Color.

[2017-05-16 13:38] mattrichnz opened #53 "Make _bottomBar a public property"
This is a great wrapper around BottomNavigationBar, but are you able please to make _bottomBar a public property in the renderer?

ie. BottomBar => _bottomBar;

We are using your excellent package, but we would like access to the underlying object so we can further customize with a custom renderer.

[2017-05-16 13:41] mattrichnz opened #54 "Make OnTabSelected and OnTabReSelected virtual"
Can you please make these public methods virtual so they can be overridden in a custom renderer? This is useful for attaching additional behaviour on the tab selected/reselected listeners.

[2017-05-16 15:04] coldacid commented on #43
This happens if you have `FixedMode="True"` in your page.

[2017-05-29 18:29] yeskunall opened #56 "Error encountered while duplicating sample project (written in XAML)"
Hey guys :wave:

I tried replicating the sample project written in XAML, and I've run into this error, as shown below:

<details>
Bridge [resources.resolve.theme] Failed to find '?attr/selectableItemBackgroundBorderless' in current theme.
Trying to load class android.support.v4.widget.Space

Bridge [resources.resolve.theme] Failed to find '?attr/selectableItemBackgroundBorderless' in current theme

[2017-06-07 06:32] henningms commented on #56
Hi @yeskunall,

Did you resolve the issue? :)

[2017-06-07 06:34] henningms opened #59 "Refactor to use Bottom Navigation View from Android Design Support Library"
It might be wise to look into the opportunity for removing the dependency on the BottomBar component and use the official Bottom Navigation View from the Design Support Library 💃

[2017-06-07 13:31] yeskunall commented on #56
@henningms, I just ended up initializing the `BottomBar` programatically instead. I can't comment on whether it works if you use it declaratively in XAML, but if I get a response from the guys, I can debug the issue.

[2017-06-07 14:56] #54 closed

[2017-06-07 18:27] juanagu opened #61 "iOS error: xf:BottomBarPageExtensions not found"
It's possible create tabs in xaml and using BottomBarPageExtensions on android and iOS?

[2017-06-07 21:18] mattrichnz commented on #54
Great, many thanks!

[2017-06-11 19:54] aloksharma1 opened #62 "having a bunch of issues with Xamarin Shared Project"

[2017-06-13 13:59] AlirezaAkbarix opened #63 "[Bug] OnAppearing method is calling twice"
Also in the example project, when you override `OnAppearing` method, after clicking on bottom navigation menus and changing the `TabPage`, you can see `OnAppearing` is calling twice!

I call my `ViewModel`'s `LoadData` inside `OnAppearing` method that is responsible to get data from rest API and load views, so that calling `OnAppearing` twice, can cause performance issue.

[2017-06-13 14:11] AlirezaAkbarix commented on #63
I should notice that Calling methods is like this:
1- OnAppearing
2- OnDisappearing
3- OnAppearing

and then page is shown completely.
so that we cannot use a `bool` to handle this issue.

[2017-06-19 17:19] 15mgm15 opened #64 "Is there a way to hide the Bottom tabbed page renderer?"
Hello!

Just wanted to know if there is a possibility to hide the bottoms tabs on a nested Content Page (for a detail page)?

[2017-06-19 18:34] 15mgm15 commented on #64
I was able to hide it by using the Hide/Show Method, but there is this top Navigation bar being showed, do you have any Idea why is this being showed?

https://media.giphy.com/media/ly253t14AQyaI/giphy.gif

[2017-06-19 22:23] 15mgm15 commented on #64
Found a solution for this :)

https://github.com/pocheshire/BottomNavigationBar/issues/18

[2017-06-20 05:15] e-nathan opened #65 "How to increase the height of BottomNavigationBar"
How can I increase the height of Bottom Navigation bar?

Thanks

[2017-06-26 19:55] amalmo commented on #18
@lazmeister How are we doing on creating a new release?

[2017-07-10 18:30] RaZp29 opened #66 "Gradient tab?"
Is it possible to have a gradient tab ranging between 2 colors?

[2017-07-10 19:23] RaZp29 commented on #10
would also be super happy if you updated the nuget @sschmidt

[2017-07-10 19:26] sschmidt commented on #10
Sure! @japhiaolson would you mind creating a PR for that?

[2017-07-17 19:22] 15mgm15 commented on #63
@AlirezaAkbarix Did you found a solution to this?

[2017-07-18 13:30] long-nguyentien opened #67 "Version 1.0.2 does not have Badge"
Thank you for your great packet. However please add newest version to Nuget which contains Badge because current version does not have that feature.

[2017-07-18 14:16] c0rnh0li0 commented on #67
Yes, can confirm BottomBarPageExtensions has only two methods available now, GetTabColor and SetTabColor. There is no way adding a badge at this point. Thank you.

[2017-07-19 21:16] basiljohntme opened #68 "Navigation Title is not visible fully in Android project"
When using UseFixedMode(), now it's visible 4 icons and title all the time. But Title is showing partly only.

[2017-07-23 04:24] AlirezaAkbarix commented on #63
@15mgm15 Not yet, but I thing the only approach is to use timer to execute the loader after about 1s.

[2017-07-27 08:04] Troto opened #69 "UNHANDLED EXCEPTION: 07-27 19:55:07.501 I/MonoDroid(11259): Java.Lang.IllegalStateException: FragmentManager is already executing transactions"
Hi,
Using the bottom bar page we have run into this. This occurs using both the latest pre release of xamarin 2.3.5.256-pre6 and the stable 2.3.4.247. BottomNavigationBar version 1.4.0.3 and BottomNavigationBar.XF version 1.0.2

This occurs when I have navigated using prism to a master detail page with a bottom bar page as the content, and then I navigate away and upon navigating back the exceptio

[2017-07-28 04:21] couper321 commented on #69
I also am receiving this same error with similar xamarin configuration.

[2017-08-01 21:16] angelru opened #70 "package ThriveGmbH.BottomNavigationBar.XF 1.0.2 is not compatible with netstandard1.4"
any solution?

[2017-08-02 08:28] kasperrt opened #71 "Clicking tab-element not popping current NavigationPage"
If the current tab contains a NavigationPage, clicking the tab-element doesn't pop the so the bottom element in the stack shows.

[2017-08-09 11:16] Ashokash123 opened #72 "Can't able to use the original icon's colour?"
It setting default colour to icons.

[2017-08-09 18:03] Lexor7 commented on #72
use Color.Argb(10, 0, 0, 0) for SetActiveTabColor

[2017-08-09 21:31] zgszft opened #73 "Bar text color does not change when inactivated"
Bar text color does not change when inactivated, but icon does

[2017-08-10 04:23] eclipseking opened #74 "Is it possible to capture the tab clicked event ?"
I would like to have some action after tab button clicked but don't what to change the current page , is it possible to do that ?

[2017-08-10 06:08] angelru commented on #63
Hello,

I have the same issue, I believe that it's issue the TabbedPage.

[2017-08-10 06:16] angelru commented on #74
With int numPage = Children.IndexOf(CurrentPage) in OnCurrentPageChanged() You can detect clicked in tab.

[2017-08-16 03:50] Lanseer opened #75 "how to make icons with fonticon,like ttf ?"

[2017-08-18 02:01] #74 closed

[2017-08-28 17:29] AlexanderMelchers commented on #61
You can have bottom navigation in both Android and iOS, just not using the same library. In order to have bottom navigation on iOS, you should use the iOS-standard tab-mechanism, which is what Xamarin.Forms uses by default to render tabbed pages on that platform.

[2017-08-28 17:32] AlexanderMelchers commented on #53
I agree that there is a lot to be gained for making the `_bottomBar` field a protected property, as this would allow for greater customization as is otherwise possible. Even though a solution now seems to be available, however, the NuGet-package still does not expose the property, and I have, hence, needed to resort to using some reflection to get a the field...

[2017-08-28 17:36] AlexanderMelchers commented on #51
There's a work-around for this, if you don't mind delving into the Android-layer a bit more: simply set the background colour on the bottom bar's `ItemContainer`-property, as in `this.BottomBar.ItemContainer.SetBackgroundColor(Color.Red);`.

The problem with this, though, is that the bottom bar itself is not currently exposed (at least not in the NuGet-package - see [issue 53](https://github.com/t

[2017-08-28 22:52] #53 closed

[2017-08-31 16:40] AlexanderMelchers opened #76 "Use Fragments for smoother page transitions"
Hi all,

With the current implementation of the BottomNavigationBarXF, switching between tabs/pages is rather slow the first time a page/tab is opened, causing a couple of seconds of blank (background-coloured) screen to appear for the duration that the page's underlying `ViewGroup` is laid out and drawn. This delay, though small, is rather detrimental to our overall user-experience, as the issue

[2017-08-31 17:28] jormanFractus opened #77 "Bottom bar under vitual buttons bar"
My problem is that the bottom bar seems to be under the virtual bar.
Im using the App example (not the XAML).

![screenshot_2017-08-31-14-25-30](https://user-images.githubusercontent.com/30839103/29936455-acbf3fde-8e58-11e7-8503-cd8e6867c7dc.png)

[2017-09-11 21:26] XXISerenaIXX commented on #67
Yes, it it the same here. Can't use any of SetBadgeCount, GetBadgeCount, SetBadgeColor, GetBadgeColor .

[2017-10-03 04:55] breakthru7 commented on #64
Hi , how do you use the hide/show method on Xamarin Form ? And how to apply pocheshire/BottomNavigationBar#18 , it will be a great help , thanks .

[2017-10-13 17:54] n0tc0ding commented on #70
I had to add the classes manually to the android project and forms project. The only thing that doesn`t work is the tab color change.

[2017-10-17 13:48] #56 closed

[2017-10-20 21:57] angelru commented on #70
@n0tc0ding  But it's compatible with netstandard?

[2017-10-20 22:49] n0tc0ding commented on #70
@angelru , Is it the same problem with the  xamarin version? I could not install the nugget in my xamarin forms project so I had to add all the classes manually. It worked fine except the tab colors.

[2017-10-21 15:56] angelru commented on #70
@n0tc0ding  but can you used PCL or NET Standard Class Library? thanks a lot!

[2017-10-24 02:19] n0tc0ding commented on #70
@angelru yes it works on PCL

[2017-10-24 04:00] nhdanh opened #79 "Problem with SoftInputMode Ajust Resize in Android"
I use Xamarin Form 2.4 and in my Android Project. I use your plugin. When I set WindowSoftInputMode = AjustResize. The keyboard cannot show. It show and quick disappear. I cannot input text.
How to fix it ?
[https://media.giphy.com/media/xUNd9Q6RhYCX9ZzaTK/giphy.gif](url)

[2017-10-24 06:58] nhdanh commented on #79
My problem has been resolve

So I has get Java.Lang.IllegalStateException: FragmentManager is already executing transactions when a go to new page and back to page.

[2017-10-25 10:23] carlasampaio01 commented on #76
What is that this.FragmentManager? Can you explain please?

[2017-10-25 10:43] AlexanderMelchers commented on #76
[code]

The fragment manager is used to help in the transactioned transition between the individual fragments that make up the tab-pages in a pre-renderered frashion, thereby suppressing a visual page load.

[2017-10-28 14:44] welahetti commented on #64
hi breakthru7  did you found the solution??

[2017-10-29 05:43] breakthru7 commented on #64
Sorry , didn't found the solution here . Used PushModalAsync with modal view instead as the project workaround .

[2017-11-02 00:50] nhdanh commented on #76
Do you have a sample project on github ?

[2017-11-02 12:37] AlexanderMelchers commented on #76
Hi @nhdanh,

I'm afraid that the project I implemented this for is a proprietary product, which I'm not at liberty to disclose. However, the basic steps can be surmised as that you need to create your own implementation of and based upon the `BottomBarPageRenderer` in this project. The `SwitchContent`-method referred to above is an override of this renderer.

I have since deviated from the above i

[2017-11-05 11:06] Shaboo commented on #51
@AlexanderMelchers
where should I set the code above?
it throws an exception when I set it at mainactivity

[2017-11-05 13:48] AlexanderMelchers commented on #51
Hi @Shaboo,

I use the code posted above in a property-getter method/clause that implements the lazy property instantiation pattern (i.e. `if (this.bottomBar == default(BottomNavigationBar.BottomBar) { /* see code above */ this.bottomBar = bottomBarField.GetValue(this) as BottomNavigationBar.BottomBar; } return this.bottomBar;` - not using an instance of `Lazy<T>` as the code references `this`).

[2017-11-13 14:01] Naografix opened #80 "Is it possible to full customize bottombar?"
Hello,

It's not really a issue, but I want to know if it's possible to customize the bottom bar to renderer like this:
https://i.imgur.com/1LUi5pB.png

Because, today, my navigation works with ContentView:
I have "MainPage" with ContentView and BottomBar. My contentView is binded in property, and my bottombar change my property to load other ContentView.

But I want to change this navigation to C

[2017-11-16 13:46] agouriou opened #81 "Navigation bar still displayed at the top"
Hi and thanks for this component.

I've added the reference to my Portable project. I can see the page, but the bar is still displayed at the top of the page.

There is no compilation error, but the behavior is the one of a standard TabbedPage.

Am I missing something?

[code]

Thanks

[2017-11-17 09:22] agouriou commented on #81
I was missing the dependency "BottomNavigationBar" in my Nugget packages.

[2017-11-17 09:22] #81 closed

[2017-11-18 17:33] pepobit opened #82 "Text color unselect tabs"
The text color in the unselected tabs is the same color as the tabbar background color and it doesn't look like.  How to fix it?
![screenshot_1511026384](https://user-images.githubusercontent.com/1220778/32983050-01c2518c-cc8f-11e7-975f-48c3a35eae2f.png)

[2017-11-20 06:31] christianwico opened #83 "How about an actual implementation tutorial?"
I've spent weeks and multiple "attempt" projects just trying to implement this thing as I see it in the [example](https://github.com/thrive-now/BottomNavigationBarXF/tree/master/example-xaml) with absolutely zero luck. I keep ending up with the default `Xamarin.Forms` implementation of **Android Tabs** *(top bar)*.

Would a good tutorial in the `README` file be too difficult to accomplish?

[2017-11-20 09:48] mhdshbk commented on #39
@nosmirck  Have you found any way to setup this bottom bar page with XAML?

[2017-11-20 12:42] nosmirck commented on #39
@mhdskbk no, there's no way to do it from xaml for now I guess. The issue is still open and the developer has not answered anything.

[2017-11-22 06:29] mhdshbk commented on #81
@agouriou  Can you please provide the reference to your project, so that I can get a proper idea of implementing this component!
Thank you!

[2017-11-23 10:09] agouriou commented on #81
My project is not open source. I've used the example here: https://github.com/thrive-now/BottomNavigationBarXF/tree/master/example-xaml/BottomBarXFExampleXaml

It's working as expected, just make sure to have the following nugget packages:
- BottomNavigationBar.XF (of course)
- BottomNavigationBar
- Newtonsoft.Json

And the following references (I'm using a PCL project):
PCL Project references:
-

[2017-11-29 10:49] AlexanderMelchers commented on #83
Have you switched the inheritance of your tab parent page from a `TabbedPage` to a `BottomBarPage`? This is the first prerequisite for the `BottomBarPageRenderer` to detect it should process your tabbed page, rather than have the default renderer do this.

The second is that, unless you're implementing your own derived `BottomBarPageRenderer` (for which you, in fact, should then also do this, as f

[2017-11-29 11:00] AlexanderMelchers commented on #82
Hi @pepobit,

Unfortunately, I haven't found an easy way to do this, as you'll need to implement a custom renderer with a custom "drawing" method that will update the Android-views associated with the tabs both on initialization (i.e. `OnElementChanged`) and whenever a new tab has become selected (i.e. the renderer's `Element`'s `OnCurrentPageChanged`). The Android-version of the tabs, which you'l

[2017-11-29 11:02] AlexanderMelchers commented on #73
Hi @edwardyehuang,

At present, I think you'll unfortunately have to implement this yourself. But see my post at https://github.com/thrive-now/BottomNavigationBarXF/issues/82 for some pointers on how such may be done.

Best of luck,
Alexander.

[2017-11-29 11:11] AlexanderMelchers opened #84 "Make BottomNavigationBarXF compliant with Xamarin.Forms 2.5"
Xamarin.Form 2.5.x has a new standard of object-instantiation for renderers, now requiring renderers to accept a `Android.Content.Context` object as a sole parameter to its constructor and marking parameterless constructors obsolete. This means that with the next major release of Xamarin.Forms the current BottomNavigationBarXF might very well become unusable. Moreover, from experience I know that

[2017-11-29 17:01] keafea commented on #30
Hi, any way can update the badge count to the bottom navigation bar XF?

[2017-11-29 19:28] admirajutta opened #85 "Set icon color for specific tab"
Hello,

is it possible to set the icon color for a specific tab icon? eg.: I have 5 tabs and I want to set the icon color for the middle icon to a different.

thanks in advance
best regards
Marcel

[2017-12-01 08:07] Im-PJ commented on #59
@henningms Have you tried below package? It looks like it uses the new BottomNavigationView. If yes, pls let me know if its worth to switch from BottomNavigationBarXF to this one
https://github.com/NAXAM/bottomtabbedpage-xamarin-forms

[2017-12-02 18:09] jjTudu commented on #39
i think we have a solution now, [bottom-navigation-bar](https://blog.xamarin.com/exploring-androids-bottom-navigation-view/). have not tried yet

[2017-12-07 15:57] OpticNectar commented on #67
Anyone find a way to get Badges working again?

[2017-12-19 07:23] guiying521 opened #86 "how to used BottomNavigationBarXF in MvvmCross.Forms"
how  to used BottomNavigationBarXF in MvvmCross.Forms?

[2017-12-19 10:43] mosflex opened #87 "BottomBarPageExtensions.SetBadgeCount doesn't work on iOS"
BottomBarPageExtensions.SetBadgeCount work on Android but not iOS. I forgot something ?

[2017-12-22 11:14] panditsargar opened #88 "For iOS this sample is not working"
I am trying to build application using Xamarin forms iOS I am unable to build

[2017-12-29 12:00] deepaksakpal opened #89 "BadgeCount throwing error"
Cannot assign property "BadgeCount": Property does not exists, or is not assignable, or mismatching type between value and property.

[2018-01-04 15:56] Sokoo92 commented on #89
Yes I got the same problem for both "BadgeCount" and "BadgeColor"

[2018-01-09 07:01] michaeloy95 opened #90 "Cannot Preserve Listview's item position on Tab change"
As mentioned in the title, the ListView cannot preserve the item position on tab change. When the user switches back from another tab, the ListView seems to update/refresh on touch, moving the display back to the topmost. What is happening? Has anyone else encountered this issue?

[2018-01-09 07:16] michaeloy95 commented on #90
link to captured screen:
https://ufile.io/t33g7

[2018-01-12 09:05] jonathan-jd4software commented on #89
I have the same issue, no access to BadgeCount or BadgeColor.

[2018-01-24 18:12] NageshDegil opened #91 "Is there any way to give dynamic Title for specif Tab index?"
I want to Change specific Tab index title (suppose there 4 bottom Tabs namely - A,B,**C(Count)**,D when tapping Tab C the title should should update depending on Count value eg - C(5) )

[2018-01-28 23:54] MaikuB commented on #91
from what i've seen, the library doesn't have support for binding. you can look at the renderer to see that for yourself and you'd have to modify it so that work with data binding

https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/custom-renderer/

[2018-02-06 07:28] RyanJosephVI commented on #89
All,

The changes were committed but the nuget package containing those changes were never released hence why you can't see those properties.  To use, download source, build a release and package a local nuget file with the changes and consume that in your project.  That'll do the trick.

[2018-02-06 08:43] jonathan-jd4software commented on #89
Thanks for the information @RyanJosephVI. An update to the nuget package at some time, would be great for the community; it might save you from lots of messages too.

[2018-02-06 14:45] RyanJosephVI commented on #89
Sure thing @jonathan-jd4software I agree a new nuget package would be great but I'm not the project owner. Just a community member like yourself sharing how I got around this issue.

[2018-02-08 13:50] jonathan-jd4software commented on #89
Sorry @RyanJosephVI my mistake :)

[2018-02-08 14:58] c-lamont commented on #85
The example shows you how to do it.
https://github.com/thrive-now/BottomNavigationBarXF/blob/master/example/BottomBarXFExample/App.xaml.cs#L60

[2018-02-08 15:04] c-lamont opened #92 "Setting `BarTextColor` and `BarBackgroundColor` in xaml has no effect in Android"
Setting `BarTextColor` and `BarBackgroundColor` in xaml has no effect in Android.

Setting it in the code behind does work.

[2018-02-13 12:12] Ajaysinh4377 opened #93 "text overlapping on icon for android"
![screenshot_1518523798](https://user-images.githubusercontent.com/35361721/36149254-161bd514-10e5-11e8-8e29-7072176b2868.png)

how to resolve it.

i can used all updated package and .netstandard xamarin.forms setup

[2018-02-16 14:19] bcaceiro opened #94 "Page title"
Setting the Title in a page, won't be reflected when changing tabs. Is there any way to overcome this?

[2018-02-22 06:47] Srusti-Thakkar opened #95 "How can I Customize size of page title in android?"
Hello, I am using your extension and I have Problem with small screen size device. The title of page is truncate in small device(like Moto e). How can change the size of page tile for this device?

Any other way to prevent this?
![qbgij](https://user-images.githubusercontent.com/22439278/36524025-5b7c472e-17ca-11e8-99b4-b35521e6d22a.png)

[2018-03-07 20:21] mauriciomoccelin commented on #18
One option is to check if the children of your BottomBarPage are of type ContentPage.

[2018-03-08 21:02] krruzic commented on #93
Use https://github.com/mikescandy/BottomNavigationBarXF fork, it has a lot of fixes and no icon size issues on that. You'll have to include it in your app manually as there isn't a nuget on the latest commit.

[2018-03-09 17:50] Ajaysinh4377 commented on #93
if icon image resolution is high then we fetch overlapping issue

On Fri, Mar 9, 2018 at 2:32 AM, Kristopher Ruzic <notifications@github.com>
wrote:

--

Ajay Dodiya | Android Developer
Mobile: +91-9737001035 | Email: ajaysinhrajput25@gmail.com | Skype:
codeinsight.ajay@outlook.com

[2018-03-16 01:44] lDemurl commented on #89
Hi there, I update BottomNavigationBar, Xamarin.Forms and change the pcl to netstandard and fix the issue!

[2018-03-16 14:44] eEmmanuelvmb commented on #92
Also got this issue, it's fixed when I add 4 tabs to the tabbar, but when I add less items, it doesn't set the colors.

[2018-03-16 14:46] c-lamont commented on #92
@eEmmanuelvmb  I fixed it by creating my own custom tab bar.
https://github.com/c-lamont/PXTabs

[2018-04-04 12:46] swapnil591 opened #96 ".net standard 2.0 support"

[2018-04-10 16:04] halivert commented on #18
Has the nuget been released yet?

[2018-04-13 14:09] NitishKSharma commented on #86
Any luck with this one? Did you find any resource for doing this?

[2018-04-13 16:10] NitishKSharma commented on #86
So it worked for me. Wherever you are loading the first viewModel (generally in MvxApp.cs), instead of loading viewModel, run the code to initiate BottomBar. That's it, should work from there on.

[2018-04-26 18:08] maherzaidoune commented on #93
i don't know if  u still need that or not , but just move  your icons to drawable xhdpi folder will fix that

[2018-05-01 11:50] maherzaidoune opened #98 "text size"
any way to change text size ??

[2018-05-03 12:50] HelioLuna commented on #73
try setting a color in bb_darkInActiveBottomBarItemColor

[2018-05-08 20:05] codetesting99 opened #99 "Remove blue bar in top"
Can you tell me , how can we remove that blue bar in the top? Attaching the screenshots...
![scr](https://user-images.githubusercontent.com/39102228/39780204-2ee207c2-5329-11e8-8d56-c408d1424ed7.jpg)

[2018-05-08 23:44] NN97 opened #100 "It's possible to Set a Tab as a "default tab"? (except the first one, obviusly)"

[2018-05-09 07:45] maherzaidoune commented on #99
add
 if (Device.RuntimePlatform == Device.Android)
                NavigationPage.SetHasNavigationBar(this, false);
to your view

[2018-05-09 07:57] codetesting99 commented on #99
@maherzaidoune

I tried this but unfortunately, Its still there.

[2018-05-09 09:01] maherzaidoune commented on #99
use Theme.AppCompat.Light.NoActionBar as your theme

[2018-05-09 15:03] AnthonyLatty opened #101 "How to set Navbar to FixedMode"
I have a XF application and i implemented this plugin successfully, i want to have all the title shown on the navbar. I have looked at all the code relating to this plugin but havent found a solution for XF. Has anyone has a solution for this?

[2018-05-10 07:32] IosDeveloperHarsh commented on #82
Hi Alexander,

In FixedMode = true; I need to change the FixedInactiveIconColor and ActiveTabColor but giving error
System.InvalidOperationException: This BottomBar already has items! You must call SetFixedInactiveIconColor() before setting any items.

I have got the ItemContainer container object in rendrer how should i processed further.

Thanks in Advance,
Harsh

[2018-05-10 08:49] codetesting99 opened #102 "Error after using customer rendrer"
I installed the thrive nugget and imported the customer render , utils files manually . I am getting this error constantly.
![capture](https://user-images.githubusercontent.com/39102228/39861082-1d6075a8-545d-11e8-85f3-0d65cb9d55af.JPG)

[2018-05-10 13:56] codetesting99 opened #103 "Not working On iOS"
Hi , this is not working on iOS . I can't see the tab colour and the icon badges. Attaching the screenshot below . Please help me Out
![screen shot 2018-05-10 at 7 20 59 pm](https://user-images.githubusercontent.com/39102228/39873250-02e967ea-5488-11e8-8151-76c57b41c8b7.png)

[2018-05-12 12:42] IosDeveloperHarsh commented on #82
Hello Alexander,

Thanks for the help i was able to change the SetActiveTabColor.

I do not understand how to get native Android controls used to render the tab icons and captions.

Just by which method i get those and change the color of them.

[2018-05-14 08:31] AlexanderMelchers commented on #82
Hi Harsh,

The native tab controls are simply child views of the bottom bar's `ItemContainer` already mentioned above. So if you first get the bottom bar control itself using reflection, you could then access its `ItemContainer` to iterate over the child views using the `ChildCount` and `GetChildAt` methods. These child views are actually `ViewGroup`s, therefore contain further controls - namely t

[2018-05-16 08:46] KarloCecura commented on #101
Set FixedMode to true on BottomBarPage

[2018-05-25 21:09] charmerppp commented on #92
@eEmmanuelvmb set  _bottomBar.MaxFixedTabCount = 0; in BottomBarPageRenderer.cs

// create bottomBar control
_bottomBar = BottomNavigationBar.BottomBar.Attach (_frameLayout, null);
_bottomBar.MaxFixedTabCount = 0;
_bottomBar.NoTabletGoodness ();

[2018-06-05 23:19] 15mgm15 opened #104 "Latest Xamarin.Forms version (3.xx) issue."
After upgrading the NuGet package, I realized that if you hide the bottom navigation bar and show it again in another page a blank space is showed in stead of the bar, anyone with the same issue?

*Note: if we revert the NuGet to a previous version (2.5) everything works as expected.

[2018-06-12 06:35] Vaibhav-Khanna commented on #69
Does anyone has a solution for this ?

[2018-06-12 12:48] tahirmehraj commented on #103
@here Anyone looking into this ?

[2018-06-12 13:11] tahirmehraj opened #105 "Tab color not working in IOS"
Hi,

 this is not working on iOS. I can't see the tab color and the icon badges. although they are working fine in Android.  Attaching the screenshot below. Please help me Out

[2018-06-13 00:07] couper321 commented on #69
Depending on your scenario, in ours,  We removed this repo and just implemented a webview on the page that uses css to look like a bottom nav bar and tie in button click events using usual xamarin.

[2018-06-13 10:45] tahirmehraj commented on #87
Do you found any Solution for this as I am stuck with the same!

[2018-06-23 10:21] tahirmehraj commented on #99
@maherzaidoune : Thanks it worked. Can you please tell me why doesn't the tab color and badge count work in ios although it works smoothly in the android

[2018-07-11 05:53] israel-martinez commented on #100
Hello, you find a solution?

[2018-07-13 08:02] mominali12 commented on #67
So what's the solution?

[2018-07-23 11:09] shivanimangla13 commented on #87
Add custom renderer for iOS. It worked for me :) .

"using System;
using BottomBar.XamarinForms;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using SchoolApp.iOS;
using System.ComponentModel;

[assembly: ExportRenderer(typeof(BottomBarPage), typeof(BottomBarPageRenderer))]
namespace SchoolApp.iOS
{
    class BottomBarPageRenderer : TabbedRenderer
    {

    protected override void OnElem

[2018-07-24 01:40] nosweat commented on #69
any alternatives to this bottom navigation bar? to me it is full of bugs and very unstable. Lacking of basic functions

[2018-07-26 18:58] shivanimangla13 commented on #102
update your package to latest and you will get your answer and this error will be solved

[2018-07-26 19:12] shivanimangla13 commented on #105
Tab color is working but their corresponding tab icon and tab text color will set automatically according to the background color and bar theme of the tabbar you set.

and icon badges are also working in iOS
Please see below:

Add custom renderer for iOS. It worked fine for me.
"using System;
using BottomBar.XamarinForms;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using SchoolApp.iOS;

[2018-07-26 19:18] shivanimangla13 commented on #103
Here tab colour will set according to the background colour of the tabbar.
Try to set another background color like "black" then see the result tab colour will change automatically.

And badges are also working in this,

Please see below:

Add custom renderer in iOS like this:

"
using System;
using BottomBar.XamarinForms;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using SchoolApp.iOS;

[2018-07-26 19:22] shivanimangla13 commented on #99
Badges are working in iOS. It worked for me.

Please see below:

Please add custom renderer in iOS. And it will work.

"using System;
using BottomBar.XamarinForms;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using SchoolApp.iOS;
using System.ComponentModel;

[assembly: ExportRenderer(typeof(BottomBarPage), typeof(BottomBarPageRenderer))]
namespace SchoolApp.iOS
{
class BottomBarPageRend

[2018-07-26 19:25] shivanimangla13 commented on #95
I found one alternative by adding
Global.bottomBarPage.FixedMode = false;

It will not show all the title of babar. But it will show the active tab title.

[2018-07-26 19:35] shivanimangla13 commented on #89
Add custom renderer for iOS. It worked for me :) .

"using System;
using BottomBar.XamarinForms;
using Xamarin.Forms;
using Xamarin.Forms.Platform.iOS;
using SchoolApp.iOS;
using System.ComponentModel;

[assembly: ExportRenderer(typeof(BottomBarPage), typeof(BottomBarPageRenderer))]
namespace SchoolApp.iOS
{
class BottomBarPageRenderer : TabbedRenderer
{

protected override void OnElementChanged(V

[2018-07-30 09:22] reense opened #106 "[Android] Binary XML file line #1: Error inflating class"
Hi all! After installing this package i'm getting the following error:

[code]

Does anyone know what possibly could be causing this?

[2018-07-30 09:25] reense commented on #102
@shivanimangla13  I'm also getting this error, to what version are you referring?

[2018-08-15 12:04] madkarlsson commented on #67
Since they haven't released the new version of the nuget the way to fix it is to fork/download and build the latest yourself. Do a release build and then include the DLL in your project (and the android DLL in any android projects).

Not ideal and very poor support from thrive regarding this sadly

[2018-08-15 12:10] madkarlsson commented on #102
I also ran into this problem. Some other issue in this repo mentioned that the latest nuget does not match the code. For some reason it has not been published. Since they haven't released the new version of the nuget the only way I could fix it was to fork/download and build it. Do a release build and then include the DLL in your project (and the android DLL in any android projects).
Not ideal and

[2018-08-17 12:46] reense commented on #102
Any workaround @madkarlsson ?

[2018-08-17 13:30] madkarlsson commented on #102
@reense As I stated above, the nuget that you download does not match the code in this repo because it apparently hasn't been published properly. So to get access to the `GetBadgeColor` and a few other functions you have to:

1. Fork/clone or download this repo
2. Load it up in visual studio
3. Do a release build
4. Include/reference the DLLs manually in your main project and the Android DLL in yo

[2018-08-28 11:53] vt-ombalakumar opened #107 "Bottom Navigation Bar with 3 contents not working in Android"
I have used this Nuget Package to show the navigation bar at the bottom . With 4 bars or more than 4 bars it works fine in Android . But if we give 3 bars it doesn't work . Please suggest me.

[2018-09-02 18:34] #101 closed

[2018-09-27 18:47] jordan-hewitt opened #108 "Follow step by step on https://devlinduldulao.pro/how-to-create-bottom-navigation-bar-in-xamarin-forms/ and https://www.youtube.com/watch?v=Cp_2F621Az0 get Java error"
I have followed the step by step guides on both that Devlin Duldulao website and the YouTube video on a brand new project and get the following Java error:

Java.Lang.ClassException has been thrown

android.widget.LinearLayout cannot be cast to android.widget.ImageView

I have tried to debug all of the files that need to be imported into the project, yet none of the breakpoints inside each functio

[2018-09-28 19:56] jordan-hewitt commented on #108
I realized it is whenever I try to run a brand new program with just the packages downloaded in the PCL and Droid solutions.   Even without implementation, I get the error.

[2018-10-25 14:31] Phenek commented on #105
natively Xamarin.forms can custom the Background of Tabs:
[code]

You can Close.

[2018-10-25 19:15] Phenek commented on #102
Hey, @madkarlsson Did you find a solution?
I tried a lot of stuff, but always with an issue with no debug information
I also forked your repo but I got a JavaLang exception when lauching the App.

If you got a solution and could help, it will be very appreciated.
regards,

[2018-10-26 06:05] ronakshethia commented on #71
hi did u find the solution for this ?

[2018-10-26 06:09] ronakshethia commented on #65
hi did u find any solution for this >?

[2018-10-26 06:14] ronakshethia opened #109 "Over Lapping on child pages"
when i am using tabbed page inside navigation drawer the child pages are overlapping.
you can find the issue in image all my pages are visible on the same tab pages

![overlap](https://user-images.githubusercontent.com/35444818/47547762-62811480-d914-11e8-93e5-a6df7908ce64.png)

[2018-10-26 08:10] saurabhmaurya-wildnet commented on #100
Just wanted to check if any update on this or we need to check for other alternative solutions available if any. Thanks.

[2018-10-26 10:07] Phenek commented on #102
Hey @madkarlsson ,
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [Xabre's Tab Badge Library](https://github.com/xabre/xamarin-forms-tab-badge) , they did a Pre-release 2.1.0-pre.3 to support it

[2018-10-26 10:09] Phenek commented on #109
Hey @ronakshethia  ,
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

[2018-10-26 10:10] Phenek commented on #108
Hey @jordan-hewitt  no body answer you!
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this  https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [ Xabre's Tab Badge Library ](https://github.com/xabre/xamarin-forms-tab-badge), they did a Pre-release 2.1.0-pre.3 to support

[2018-10-26 10:11] Phenek commented on #107
Hey @vt-ombalakumar no body answer you!
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this  https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [ Xabre's Tab Badge Library ](https://github.com/xabre/xamarin-forms-tab-badge), they did a Pre-release 2.1.0-pre.3 to support

[2018-10-26 10:12] Phenek commented on #96
Hey @swapnil591  @rcunniffe no body answer you!
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this  https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [ Xabre's Tab Badge Library ](https://github.com/xabre/xamarin-forms-tab-badge), they did a Pre-release 2.1.0-pre.3 to

[2018-10-26 10:13] Phenek commented on #89
Hey People no Solid answer here!
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this  https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [ Xabre's Tab Badge Library ](https://github.com/xabre/xamarin-forms-tab-badge), they did a Pre-release 2.1.0-pre.3 to support badges

[2018-10-26 10:14] Phenek commented on #105
Hey @tahirmehraj,
Maybe you already known? But with Xamarin.Forms 3.x you can put the Android Tabbed page at the Bottom and it's official!

I found this  https://montemagno.com/xamarin-forms-official-bottom-navigation-bottom-tabs-on-android/

And the [ Xabre's Tab Badge Library ](https://github.com/xabre/xamarin-forms-tab-badge), they did a Pre-release 2.1.0-pre.3 to support badges on it

[2018-10-26 14:00] madkarlsson commented on #102
@Phenek Whoa, nice! We had completely missed that, thank you.

I would suggest you could fork or use our version repo (BlockZero) if you need the fixes but I saw you already did that :)

[2018-11-07 13:09] vt-ombalakumar commented on #107
@Phenek Nope, Thanks for the info buddy, will look into it :)

[2018-11-22 10:03] joshardt opened #110 "This package is obsolete"
Hi everyone,
just for your information, in case you consider to use this NuGet package: Since Xamarin.Forms 3.1 you can use toolbar placement on Android to put your tab bar to the bottom. In other words: You don't need to use this package anymore. I'd kindly ask the package owner to mark this package as obsolete in its ReadMe.md file and, if possible, also in its code.

Here is the solution with X

[2019-11-03 10:21] pfedotovsky commented on #90
@yuwonom did you manage to solve the issue?

[2020-01-17 12:11] #8 closed

[2020-01-17 12:13] #10 closed

[2020-04-01 18:54] wpanduka opened #111 "Doesn't work for IOS as Right To Left languages"
As programmatically change the RTL language that it works perfectly in android devices but for IOS devices RTL languages it doesn't work the bottom navigation menu, in other words when its RTL , in IOS devices the bottom navigation bar doesn't change the flow direction from Right to Left
Please let me know how to proceed with it. thanks
Panduka